
* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}


html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}



body {
    background: #EDAD1B;
    background: conic-gradient(from 315deg, #EDAD1B, #BF693F);
    color: white;
}



.navbar {
    background-color: transparent;
    color: white;
  
}

.navbar-brand{
    color: white;
}

.dropdown-item{
    color:white
}


.card {
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(17, 25, 40, 0.25);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);
    padding: 38px;
    filter: drop-shadow(0 30px 10px rgba(0,0,0,0.125));
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #fff;
    font-family: 'Lato', sans-serif;
    text-align: center;
    font-size: 0.8rem;
    line-height: 150%;
    letter-spacing: 2px;
    text-transform: uppercase;
    width: 500px;
}

.card-body b {
    color: #fff;
    font-family: 'Lato', sans-serif;
    text-align: center;
    font-size: 0.95rem;
    line-height: 150%;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.card-header {
    color: black;
    color: #fff;
}

.card-footer {
  
}


.btn {
    color: white;
    border: solid;
    border-color white;
    border-width: 2px;
   
}

    .btn:hover {
        background-color: #28282B;
        border-color: #28282B;
        color: white;
    }


.bg-available {
    background-color: #DAF7A6;
    color: #28282B;
}

.bg-ending-soon {
    background-color: #FFC300;
    color: #28282B;
}



.banner {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.40),rgba(0,0,0,0.40));
    background-position: center;
    background-size: center;
}



.content {
    width: 100%;
    position: absolute;
    color: white;
    top: 45%;
    transform: translateY(-50%);
    text-align: center;
}

    .content h1 {
        margin-top: 80px;
        font-size: 90px;
        font-weight: 800;
    }

button {
    width: 200px;
    padding: 15px;
    margin: 20px 5px;
    text-align: center;
    border-radius: 25px;
    color: black;
    border: 2px;
    font-size: 20px;
    cursor: pointer;
    font-weight: 600;
}

    button:hover {
        background: rgb(0, 192, 226);
        transition: 0.5s;
    }

    button:hover {
        color: white;
    }

.video-bg {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
}

@media(min-aspect-ratio: 16/9) {
    .video-bg {
        width: 100%;
        height: auto;
    }
}